/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

.flex-origin {
  display: flex;
}

.flex-search {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 5px;
  padding-top:  10px;
  padding-bottom: 10px;
  &:last-child {
    flex-direction: row;
    justify-content: center;
  }
}

.flex-btn {
  align-self: center;
  // flex: 0 0 20%;
  // border-right: 1px solid lightgrey;
  // border-left: 1px solid lightgrey;
  // border-top: 1px solid lightgrey;
  // border-bottom: 1px solid lightgrey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:  10px;
  padding-bottom: 10px;
  // align-self: stretch;
  // text-align: center;

}

.input-no-border {
  border: 0px;
}

.specific-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
