/* Flexbox search */
.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

.flex-origin {
  display: flex;
}

.flex-search {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  padding-right: 5px;
  padding-top:  10px;
  padding-bottom: 10px;
  &:last-child {
    flex-direction: row;
    justify-content: center;
  }
}

.flex-btn {
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:  10px;
  padding-bottom: 10px;
}

.input-no-border {
  border: 0px;
}

.specific-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}



/* Card */
.none-decoration {
  text-decoration: none;
  color: #000000;

}

.none-decoration:hover {
  text-decoration: none;
  color: #000000;
}

.main-emotion-home {
  color: lightgreen;
  font-size: 50px;
  border-top: 1px;
  border-bottom: 1px;
  border-top-color: $medium-gray;
  border-bottom-color: $medium-gray;
  border-bottom-style: solid;
  border-top-style: solid;
}
