

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}

.form-group {
  // padding-left: 50px;
  text-align: left;

}

.photo_new {
  padding-left:300px;
  padding-top: 175px;
}

.submit {
  text-align: center;
}



#title {
  padding-bottom: 10px;
  font-family: Open Sans;
}
#title2 {
  padding-left : 100px;
  padding-bottom: 25px;
  font-family: Open Sans;
}

.color-step {
  color: #d23333;
}

.padding-step {
  padding-bottom: 25px;
}
