.wrapper {
  background-color: grey;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);

}

#logo {
 padding-left: 150px;
 padding-top: 95px;
}

#title {
  padding-left : 45px;
  padding-bottom: 25px;
  font-family: Open Sans;

}
