

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}

.form-group {
  // padding-left: 50px;
  text-align: left;

}

.photo_new {
  padding-left:150px;
  padding-top: 50px;
}

.submit {
  text-align: center;
}


#logo {
 padding-left: 200px;
 padding-top: 95px;
}

#title {
  padding-left : 45px;
  padding-bottom: 10px;
  font-family: Open Sans;
}
#title2 {
  padding-left : 100px;
  padding-bottom: 25px;
  font-family: Open Sans;
}
