<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="show-card col-xs-12 col-sm-6">

        <div class="proprio-infos">
          <div class="head-proprio">
            PHOTO DE PROF PROPRIO + NOM
          </div>
          <div class="date-reservations">
            START DATE + END DATE
          </div>
          <div class="sexe-age-metier">
            SEXE AGE METIER
          </div>
          <div class="description">
            DESCRIPTION DU PROPRIO
          </div>
        </div>

        <div class="transition">
          VOUS PROPOSE DE VIVRE
        </div>

        <div class="personnality-infos">
          NOM DE LA PERSONNALITE
        </div>
        <div class="SEXE-AGE-METIRE-PERSO">
          SEXE AGE METIER DE LA PERSO
        </div>
        <div class="description">
          DESCRIPTION DE LA PERSO
        </div>

      </div>
    </div>
  </div>
</div>
