.wrapper-rentals {
  background-color: $background-gray;
  padding-top: 30px;
}

.rental_card {
  box-shadow: 0px 0px 5px;
  background-color: $white;
  text-align: center;
  padding: 13px 13px 13px 13px;
  border-radius: 7px;
  margin: 3em 0;

  &-accepted {
    .main-emotion-border {
      color: $green-accepted;
    }
  }

  &-pending {
    .main-emotion-border {
      color: $medium-gray;
    }
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 11px;
  }

  .personnality-infos {
    color: $medium-gray;
  }

  .base-line-name {
    color: $medium-gray;
    font-size: 15px;
  }

  .main-emotion-border {
    font-size: 50px;
    border-top: 1px;
    border-bottom: 1px;
    border-top-color: $medium-gray;
    border-bottom-color: $medium-gray;
    border-bottom-style: solid;
    border-top-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .date {
    padding-top: 4px;
    padding-bottom: 25px;
    font-style: italic;
  }
  .padding-personnality-info li {
    padding: 10px 10px;
  }
  .avatar-infos {
    padding-top: 20px;
  }
}

.size-icon {
  font-size: 75px;
}

.color-accepted {
  color: $green-accepted;

}

.color-pending {
  color: $medium-gray;
}

